<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-plus/lib/index.full.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>投资分析</title>
</head>
<body>
<div id="app">
    <el-row>
        <el-col :sm="2" :lg="2">功能：</el-col>
        <el-col :sm="22" :lg="22">
            <el-select v-model="calculator" placeholder="请选择需要执行的功能" @change="select_calculator">
                <el-option v-for="item in calculators" :value="item">
                </el-option>
            </el-select>
        </el-col>
    </el-row>

    <el-row>
        <el-col :sm="2" :lg="2">参数说明：</el-col>
        <el-col :sm="22" :lg="22">
                <el-card shadow="always">
                <pre>
{{help}}
                </pre>
                </el-card>
        </el-col>
    </el-row>

    <el-row>
        <el-col :sm="2" :lg="2">参数：</el-col>
        <el-col :sm="22" :lg="22">
            <el-input v-model="command" placeholder="请输入内容"></el-input>
        </el-col>
    </el-row>

    <el-row>
        <el-col :sm="2" :lg="2"> </el-col>
        <el-col :sm="22" :lg="22">
            <el-button @click="submit" type="primary" round>提交</el-button>
        </el-col>
    </el-row>

    <el-row>
        <el-col :sm="2" :lg="2">结果：</el-col>
        <el-col :sm="22" :lg="22">
            <pre>
{{result}}
            </pre>
        </el-col>
    </el-row>

    <el-row>
        <el-col :sm="2" :lg="2">图像：</el-col>
        <el-col :sm="22" :lg="22">

        <li v-for="b64_image in result_base64_images">
            <img v-bind:src="'data:image/jpeg;base64,'+b64_image" />
        </li>
        </el-col>
    </el-row>

</div>
<script src="[[ url_for('static',filename='js/index.js') ]]"></script>
</body>


</html>